body {
    font-family: "Tahoma", sans-serif;
}

input[type="file"] {
    display: none;
}

.button-label {
    background-color: #00A2E8;
    color: #EAF9FF;
    padding: 6px 12px;
    margin: 6px;
    border-radius: 3px;
    cursor: pointer;
}

.button-label:hover {
    background-color: #0086BF;
}

section .content {
    padding: 6px 0 6px 30px;
}

.restaurant-list ol {
    list-style-type: none;
    padding-left: 0;
    margin-top: 0;
}

.restaurant-list ul {
    list-style-type: none;
    padding-left: 0;
    margin-top: 0;
}

.restaurant-list .score {
    display: inline-block;
    background-color: lightgray;
    width: 3em;
    padding: 5px 2px;
    margin-right: 6px;
    border-radius: 3px;
    text-align: center;
    font-size: smaller;
}

.restaurant-list .restaurant-header {
    padding: 6px;
}

.restaurant-list .metric {
    padding: 6px;
    margin-left: 23px;
}

.restaurant-list .restaurant:hover {
    background-color: #EEEEEE;
}

.restaurant-list .restaurant .collapsed {
    cursor: pointer;
}

.restaurant-list .restaurant .expanded {
    cursor: auto;
}

.restaurant-list .restaurant .collapsed .restaurant-footer {
    display: none;
}

.restaurant-list .restaurant .expanded .restaurant-footer {
    display: inherit;
}
